a{

text-decoration: none;
}
.container-wrap{
width:100%;
height:auto;
background:#303123;
display:inline-block;
}
.container{
width:1024px;
margin:0 auto;
}
.logo{
width:150px;
float:left;
}

.logo_img{


}
.nav-menu{
width:874px;
float:left;

}
.cc_menu{
list-style:none;
float:right;

}
.cc_menu > li{
float:left;
margin:0 10px;

}
.cc_menu > li > a{
color:#ffffff;
}
.footer{
width:100%;
display:block;
background:#333;
color:#fff;
text-align:right;

}
.footer-content{

}
/*admin template*/
.profile-body{
width:30%;
margin:0 auto;
}
.new-org-body{
width:30%;
margin:0 auto;
}
.change-password-body{
width:30%;
margin:0 auto;
}
.success-message{
margin:20px 0 20px 0;
}
.body-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    
}

.body-head {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
	margin:10px;
	font-size:28px;
	background:#F9F9F9

}
.page-outer{
	width:95%;
	margin:0 auto;
}
#captcha_div > .captcha{
width:40% !important;
float:left;
}
.captcha_id{
float:left;
}
