a{

text-decoration: none;
}
.container-wrap{
width:100%;
height:auto;
background:#303123;
display:inline-block;
}
.container{
width:1024px;
margin:0 auto;
}
.logo{
width:150px;
float:left;
}

.logo_img{


}
.nav-menu{
width:874px;
float:left;

}
.cc_menu{
list-style:none;
float:right;

}
.cc_menu > li{
float:left;
margin:0 10px;

}
.cc_menu > li > a{
color:#ffffff;
}
.footer{
width:100%;
display:block;
background:#333;
color:#fff;
text-align:right;

}
.footer-content{

}
/*admin template*/
.profile-body{
width:30%;
margin:0 auto;
}
.new-org-body{
width:30%;
margin:0 auto;
}
.change-password-body{
width:30%;
margin:0 auto;
}
.success-message{
margin:20px 0 20px 0;
}
.body-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    
}

.body-head {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
	margin:10px;
	font-size:28px;
	background:#F9F9F9

}
.page-outer{
	width:95%;
	margin:0 auto;
}
#captcha_div > .captcha{
width:40% !important;
float:left;
}
.captcha_id{
float:left;
}
.pagination > li > a{
float:none;
}
.list-org-table tr > td{
border-top:none !important;
}
.tbl-settings{
width:100%;

}

.settings-body{
width:100%;
margin:0 30px;
}
.settings-add{
color:#00A65A;

}

.settings-edit{
color:#00C0EF;
}

.settings-delete{
color:#F56954;
}


.settings-add > .fa-plus-circle{
font-size: 20px;
cursor:pointer;
}

.settings-edit > .fa-edit{
font-size: 20px;
cursor:pointer;
}

.settings-delete > .fa-trash-o{
font-size: 20px;
cursor:pointer;
}
.hide-me{
display:none;
}
.trip-booking-body{
width:100%;

}
.first-column-trip-booking{
width:80%;
float:left;
margin:10px 3% 10px 1%;
}
.second-column-trip-booking{
margin:10px 3% 10px 1%;
width:12%;
float:left;
}
.div-with-50-percent-width-with-margin-10{
float:left;
width:47%;
margin:10px;
}
.row-source-50-percent-width-with-margin-8{
width:45%;
margin:8px;
float:left;
}
.col-1-textbox-with-50-percent-width-and-float-left{
margin-right:12px;
width:46%;
float:left;
}
.col-2-textbox-with-50-percent-width-and-float-left{
margin-left:12px;
width:46%;
float:left;
}
.div-with-90-percent-width-and-marigin-5{
margin:5px;
width:90%;
float:left;
}
.width-96-percent-and-margin-8{
margin:8px;
width:96%;
}
#via{
width:3%;

}
.toggle-via{
display:none;
}
.group-toggle{
display:none;
}
.radio-checkbox-vehicle-group{
width:100%;
margin:5px;
}
.radio-checkbox-vehicle-group > tr > td{
width:50%;
}
.recurrent-yes-container{
margin:-30px 0 0 0;

}
.float-right{
float:right;
}
.recurrent-container{
display:none;
}
.no-border-top{
border-top:none;
}
