a{

text-decoration: none;
}
.container-wrap{
width:100%;
height:auto;
background:#303123;
display:inline-block;
}
.container{
width:1024px;
margin:0 auto;
}
.logo{
width:150px;
float:left;
}

.logo_img{


}
.nav-menu{
width:874px;
float:left;

}
.cc_menu{
list-style:none;
float:right;

}
.cc_menu > li{
float:left;
margin:0 10px;

}
.cc_menu > li > a{
color:#ffffff;
}
.footer{
width:100%;
display:block;
background:#333;
color:#fff;
text-align:right;
height:30px;
}
.footer-content{

}
/*admin template*/
.profile-body{
width:30%;
margin:0 auto;
}
